<form class="col-10">
    <div class="mb-3 col-6">
        <label for="createFirstName" class="form-label">Enter First name</label>
        <input type="text" class="form-control" id="createFirstName">

    </div>
    <div class="mb-3 col-6">
        <label for="createLastName" class="form-label">Enter Last name</label>
        <input type="text" class="form-control" id="createLastName">
    </div>
    <div class="mb-3 col-6">
        <label for="createUserName" class="form-label">Enter Username</label>
        <input type="text" class="form-control" id="createUserName">
    </div>
    <div class="mb-3 col-6">
        <label for="createPhone" class="form-label">Enter Phone</label>
        <input type="text" class="form-control" id="createPhone">
    </div>
    <div class="mb-3 col-6">
        <label for="createEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="createEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="createPassword" class="form-label ">Password</label>
            <input type="password" class="form-control " id="createPassword">
        </div>
        <div class="col">
            <label for="checkCreatePassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="checkCreatePassword">
        </div>
    </div>
    <div class="d-flex justify-content-end">

        <button type=" submit" class="btn btn-primary">Next</button>
    </div>
</form>