<div class="card" style="">
  <div class="m-b-25 d-flex">
    <img src="https://img.icons8.com/bubbles/100/000000/user.png"
         class="img-radius"
         alt="User-Profile-Image">
    <p
      class="card-title">
      first Name: <span class="font-weight-bold">{{user?.firstName | uppercase}}</span><br/>
      last Name: <span class="font-weight-bold">{{user?.lastName | uppercase}}</span></p></div>
  <div class="card-body">
    <p class="card-text">username: {{user?.username}}</p>
    <p class="card-text">phone: {{user?.phone}}</p>
    <p class="card-text">phone: {{user?.phone}}</p>
    <p class="card-text">phone: {{user?.password}}</p>
    <a [href]="'mailto:'+user?.mail" class="link-info">mail: {{user?.mail}}</a>
  </div>
</div>
