<div class="card">
  <div class="m-b-25 d-flex">
    <img src="https://img.icons8.com/bubbles/100/000000/user.png"
      class="img-radius"
      alt="User-Profile-Image">
    <p
      class="card-title">
      first Name: <strong>{{user?.firstName | uppercase}}</strong><br />
      last Name: <strong>{{user?.lastName | uppercase}}</strong></p>
  </div>
  <div class="card-body">
    <p class="card-text"><i>username:</i> {{user?.username}}</p>
    <p class="card-text"><i>phone: {{user?.phone}}</i></p>
    <p class="card-text"><i>password: {{user?.phone}}</i></p>
    <a [href]="'mailto:'+user?.mail" class="link-info"><i>mail:</i> {{user?.mail}}</a>
  </div>
</div>