<form [formGroup]="editForm">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">username</th>
      <th scope="col">mail</th>
      <th scope="col">phone</th>
      <th colspan="2" class="text-center">action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{(!updateInfo) ? user.firstName : '' }}
        <input *ngIf="updateInfo"
               formControlName="firstName"
               type="text"
               value={{user.firstName}}></td>
      <td>{{(!updateInfo) ? user.lastName : '' }}
        <input *ngIf="updateInfo"
               formControlName="lastName"
               type="text"
               value={{user.lastName}}></td>
      <td>{{(!updateInfo) ? user.username : '' }}
        <input *ngIf="updateInfo"
               formControlName="username"
               type="text"
               value={{user.username}}></td>
      <td>{{(!updateInfo) ? user.mail : '' }}
        <input *ngIf="updateInfo"
               formControlName="mail"
               type="text"
               value={{user.mail}}></td>
      <td>{{(!updateInfo) ? user.phone : '' }}
        <input *ngIf="updateInfo"
               formControlName="phone"
               type="text"
               value={{user.phone}}></td>
      <td>
        <button type="button" (click)="updateContactInfo(user)"
                class="btn btn-outline-info mr-1">
          {{(!updateInfo) ? "update" : "save"}}</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-info ">del</button>
      </td>
      <br>
    </tr>
    </tbody>
  </table>

  <table
    formArrayName="addressList"
    class="table table-striped"
         *ngIf="user.addressList.length>0">
    <thead>
    <tr>
      <th scope="col">address Type</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th colspan="3" class="text-center">action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let addressInfo of user.addressList, let idx = index"  [formGroupName]="idx">

      <td>{{(!statusAddress) ? addressInfo.addressType : '' }}
        <input
          *ngIf="statusAddress && idx===idx "
          formControlName="addressType"
          type="text"
         ></td>
      <td>
        {{(!statusAddress) ? addressInfo.address : '' }}
        <input *ngIf="statusAddress && idx===idx"
               formControlName="address"
               type="text"
               >
      </td>
      <td>
        {{(!statusAddress) ? addressInfo.city : '' }}
        <input *ngIf="statusAddress && idx===idx"
               formControlName="city"
               type="text"
               ></td>
      <td>
        {{(!statusAddress) ? addressInfo.postalCode : '' }}
        <input
          *ngIf="statusAddress && idx===idx"
          formControlName="postalCode"
          type="text"
          ></td>

      <td>
        <button (click)="updateAddsress(user, idx)"
                type="button"
                class="btn btn-outline-info mr-1">{{(!statusAddress &&
          idx === idx) ? "update" : "save"}}</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-info ">del</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-info ">add new +</button>
      </td>
      <br>
    </tr>
    </tbody>
  </table>
</form>
