:host {
  tbody .tr-header {
    background: rgba(0, 0, 0, 0.2);
  }
  form {
    box-shadow: 0 0 1rem 1rem darkgrey;
    margin-bottom: 5rem;
  }
  input {
    width: 100%;
    margin: 0;
  }
  ng-select {
    min-width: 100px;
  }
  button {
    transition: color 0.5s;
  }
}
