:host {
  tbody .tr-header {
    background: rgba(0, 0, 0, 0.2);
  }

  form {
    box-shadow: 0 0 1rem 1rem darkgrey;
    margin-bottom: 5rem;
    transition: 1s ease-in-out;
    //thead.form_title {
    //  cursor: pointer;
    //  &:hover {
    //    background-color:lavender;
    //  }
    //}
  }

  input {
    width: 100%;
    margin: 0;
  }

  ng-select {
    min-width: 100px;
  }

  button {
    transition: color 0.5s;
  }

  table + table {
    //background: red;
    transform: translateY(-2%);
  }
}
