<form class="container pb-2" [formGroup]="searchForm" xmlns="http://www.w3.org/1999/html">
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="firstName">First Name</label>
        <input type="text"
               formControlName="firstName"
               class="form-control" id="firstName"
               placeholder="Enter First name"/>
        <small id="firstNameHelp"
               class="form-text
               text-muted"></small>
      </div>
      <div class="col-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control"
               formControlName="lastName"
               id="lastName"
               aria-describedby="emailHelp"
               placeholder="Enter last name">
      </div>
    </div>
  </div>
  <div class="form-group my-2">
    <div class="row">
      <div class="col-4">
        <label for="userName">User name</label>
        <input type="text" class="form-control"
               formControlName="username"
               id="userName"
               placeholder="Enter user name">
      </div>
      <div class="col-4">
        <label for="mail">Mail</label>
        <input type="email"
               class="form-control"
               formControlName="mail"
               id="mail"
               placeholder="Enter mail"/>
        <div *ngIf="mail?.errors?.pattern" class="small text-danger">
          email is incorrect.
        </div>
      </div>
      <div class="col-4">
        <label for="phone">Phone</label>
        <input type="text"
               formControlName="phone"
               class="form-control"
               id="phone" placeholder="Enter phone">
        <div *ngIf="phone?.errors?.pattern" class="small text-danger">
          phone number not valid.
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button (click)="clearForm()"
            type="button"
            class="btn btn-danger mx-2">{{(typeSearch)? 'Reset' :'Clear'}}
    </button>
    <div class="btn-box text-center">
      <button [ngClass]="(!typeSearch)? 'disabled':'search'"
              class="btn mx-1"
              (click)="searchUserByForm()">
        {{(!typeSearch) ? "searching by pipe" : "search by button"}}
      </button>
      <div *ngIf="typeSearch && !searchForm.valid && searchForm.dirty"
           class="ac-form-field-description form-text text-danger">
         at least {{minLengthNotEmptyFields}} fields fill
      </div>
    </div>
    <label class="switch">
      <input type="checkbox" (change)="typeSearch=!typeSearch">
      <span class="slider round"></span>
    </label>

    <p>total users: {{users?.length}}</p>
  </div>
</form>
<app-users
  *ngIf="!typeSearch"
  [usersList]="users"
  [searchForm]="(!typeSearch)? searchForm.value : '' "></app-users>
<app-users
  *ngIf="typeSearch"
  [usersList]="users"></app-users>
