<form class="container" [formGroup]="searchForm">
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]=searchFirst  formControlName="firstName" class="form-control" id="firstName"
               placeholder="Enter First name" />
        <small id="firstNameHelp" class="form-text text-muted"></small></div>
      <div class="col-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastNAme"[(ngModel)]=searchLast id="lastName" aria-describedby="emailHelp"
               placeholder="Enter last name"></div>

    </div>
  </div>
  <div class="form-group my-2">
    <div class="row">
      <div class="col-4">
        <label for="userName">User name</label>
        <input type="text" class="form-control" formControlName="userName" [(ngModel)]=searchUser id="userName"
               placeholder="Enter user name">
<!--        <small id="firstNameHelp" class="form-text text-muted"></small>-->
      </div>
      <div class="col-4">
        <label for="mail">Mail</label>
        <input type="email" class="form-control"  formControlName="mail"[(ngModel)]=searchMail id="mail"
               placeholder="Enter mail"/></div>
      <div class="col-4">
        <label for="phone">Phone</label>
        <input type="text" [(ngModel)]=searchPhone formControlName="phone" class="form-control" id="phone" placeholder="Enter phone">
      </div>

    </div>

  </div>
  <button (click)="clearForm()" type="button" class="btn btn-outline-info mx-2">Clear</button>
  <button (click)="searchUsers()" type="button" class="btn btn-primary">Find</button>
</form>

<app-users [usersList]="users"
           [searchFirst]=searchFirst
           [searchLast]=searchLast
           [searchUser]=searchUser
           [searchMail]=searchMail
           [searchPhone]=searchPhone
           (saveE)=update($event)
></app-users>
