@import "~@ng-select/ng-select/themes/material.theme.css";
.popover-content{
  box-shadow: 0 0  5rem 3rem aliceblue;
}
label._req::after{
  content: "*";
  color: red;
}
.box--helpList{
  position: relative;
}
.helpList{
  position: absolute;
  top: 0;
  transform: translateX(100%);
  opacity: 0.8;
}
select.show{
  visibility: visible;
  opacity: 1;
  transition: 0.8s;
}
select.hide{
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
